# Ignore target directory
/sentiment_analyzer/.models
/sentiment_analyzer/target
/sentiment_analyzer/.idea
/csv_quotes_import/.idea
/csv_quotes_import/target
/sentiment_analyzer_python/__pycache__
quotes/quotes.csv
quotes_processing/.env
quotes_processing/.env
/quotes_processing/.idea
/quotes_processing/target
quotes_processing/.env
